//Theme Colors:
$darkblue: #124c54;
$darkpurple: #37195d;
$darksalmon: #dfa876;
$darksalmonShifted: #f3b071;
$pop: #dfd676;
$tealpop: #2a676f;
$pink: #ed1e79;
$teal: #0cffe1;
$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #dd6808;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$primary: $darkpurple;
$secondary: $darksalmon;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;

$theme-colors: (
	'primary': $primary,
	'secondary': $secondary,
	'success': $success,
	'info': $info,
	'warning': $warning,
	'danger': $danger,
	'light': $light,
	'dark': $dark,
	'pink': $pink,
	'pop': $pop,
	'tealpop': $tealpop
);

//Bootstrap Spacing Updates:
$spacer: 1rem;

$spacers: (
	0: 0,
	1: $spacer * 0.25,
	2: $spacer * 0.5,
	3: $spacer,
	4: $spacer * 1.5,
	5: $spacer * 3,
	6: $spacer * 6
);

//Video Hero Section
#home {
	position: relative;
	min-height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	video {
		object-fit: cover;
		top: 0;
		left: 0;
		z-index: -1;
	}
	.hero-content {
		position: absolute;
		z-index: 1;
		height: 100%;
		width: 100%;
		background-color: rgba(68, 39, 104, 0.24);
		.hero-text-container {
			.btn-container {
				width: 50%;
			}
		}
	}
}

//About Section
#about {
	position: relative;
	min-height: 100vh;
	width: 100vw;
}

//customizing navbar colors (which was hard).
$navbar-dark-color: rgba($darksalmon, 0.55);
$navbar-dark-hover-color: rgba($darksalmon, 0.75) !default;
$navbar-dark-active-color: $darksalmonShifted !default;
$navbar-dark-disabled-color: rgba($darksalmon, 0.25) !default;
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-dark-toggler-border-color: rgba($darksalmon, 0.1) !default;

@import '../bootstrap-5.1.1/scss/bootstrap.scss';
