//Theme Colors:
$darkblue: #124c54;
$darkpurple: #37195d;
$darksalmon: #dfa876;
$darksalmonShifted: #f3b071;
$pop: #dfd676;
$tealpop: #2a676f;
$pink: #ed1e79;
$teal: #0cffe1;
$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #dd6808;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$primary: $darkpurple;
$secondary: $darksalmon;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;

$theme-colors: (
	'primary': $primary,
	'secondary': $secondary,
	'success': $success,
	'info': $info,
	'warning': $warning,
	'danger': $danger,
	'light': $light,
	'dark': $dark,
	'pink': $pink,
	'pop': $pop,
	'tealpop': $tealpop
);

//Bootstrap Spacing Updates:
$spacer: 1rem;

$spacers: (
	0: 0,
	1: $spacer * 0.25,
	2: $spacer * 0.5,
	3: $spacer,
	4: $spacer * 1.5,
	5: $spacer * 3,
	6: $spacer * 6
);

@mixin for-big-desktop-up {
	@media (min-width: 1800px) { @content; }
}

//Video Hero Section
#home {
	position: relative;
	min-height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	video {
		object-fit: cover;
		top: 0;
		left: 0;
		z-index: -1;
		@media (min-width: 1800px) {
			width: 100%;
		}
	}
	.hero-content {
		position: absolute;
		z-index: 1;
		height: 100%;
		width: 100%;
		background-color: rgba(68, 39, 104, 0.24);
		.hero-text-container {
			.btn-container {
				width: 50%;
			}
		}
	}
}

//About Section
#about {
	position: relative;
	min-height: 100vh;
	width: 100vw;
	.circle-container {
		height: 200px;
		width: 200px;
		border-radius: 50%;
		background-color: rgba(55, 25, 93, 0.6);
		overflow: hidden;
		margin: 0 auto;
		img {
			margin-top: 20px;
			height: 100%;
		}
	}
}

#projects {
	.project-box {
		background-size: cover;
		background-position: center;
		height: 15rem;
		min-width: 23rem;
		margin: 20px;
		padding: 0;
		border-radius: 5px;
		&:hover {
			.overlay-box {
				animation: overlay .5s ease 1;
				animation-fill-mode: forwards;
				.project-modal-link {
					animation: fadeIn .5s ease 1;
					animation-fill-mode: forwards;
				}
			}
		}
		.overlay-box {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			background-color: rgba(255, 255, 255, .5);
			height: 0;
			animation: reverseOverlay .5s ease;
			.project-modal-link {
				height: fit-content;
				opacity: 0%;
				padding: 5px;
				border-radius: 5px;
				animation: reverseFadeIn .5s ease;
			}
		}
	}
}

.modal-header {
	background-size: cover;
	height: 300px;
}

.connector-box {
	background-image: url("../images/ConnectScreenshot.png");
}

.connector-header {
	background-image: url(../images/ConnectorGif.gif);
}

.sstatic-box {
	background-image: url("../images/FFVIIFPSS.png");
}

.sstatic-header {
	background-image: url(../images/FFVIIFPGif.gif);
}

.bs5-box {
	background-image: url("../images/BS5DemoSS.png");
}

.bs5-header {
	background-image: url(../images/BS5DemoGif.gif);
}

.codepen-box {
	background-image: url("../images/codepen.png");
}

.codepen-header {
	background-image: url(../images/codepen.gif);
}

@keyframes overlay {
	0% {
	  height: 0;
	}
	100% {
	  height: 100%;
	}
  }
  @keyframes reverseOverlay {
	from {
	  height: 100%;
	}
	to {
	  height: 0;
	}
  }
  @keyframes fadeIn {
	0% {
		height: 0%;
	}
	40% {
		height: 100%;
	}
	50% {
	  opacity: 0%;
	}
	100% {
	  opacity: 100%;
	}
  }
  @keyframes reverseFadeIn {
	50% {
	  opacity: 0%;
	}
	100% {
	  opacity: 0%;
	}
  }

//customizing navbar colors (which was hard).
$navbar-dark-color: rgba($darksalmon, 0.55);
$navbar-dark-hover-color: rgba($darksalmon, 0.75) !default;
$navbar-dark-active-color: $darksalmonShifted !default;
$navbar-dark-disabled-color: rgba($darksalmon, 0.25) !default;
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-dark-toggler-border-color: rgba($darksalmon, 0.1) !default;

@import '../bootstrap-5.3.3/scss/bootstrap.scss'